<div class="container">


<h2>Entrar</h2>
<h3>Para entrar escolha qual o seu perfil!</h3>


<div class="row">
          <div class="col-lg-4">
              <%= link_to image_tag("https://i.ytimg.com/vi/1uS9dKZlGB4/maxresdefault.jpg", :class => 'rounded-circle', width: 150, height: 150), new_customer_session_path %>   
            <h2>Cliente</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <%= link_to image_tag("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStG0qcmSLUhPRUQWHF34rxuOiqlyxH9hUr3GbJPrdco6kyQxgpZw", :class => 'rounded-circle', width: 150, height: 150), new_business_session_path %>      
            <h2>Lava Jato</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.</p>
          </div><!-- /.col-lg-4 -->
        </div>
</div>
